<div class="popup popup_selectFood" id="popupMeal" style="display: none;">
    <div class="title">
        <div class="title__i">
            <p>
                <geo-marker prefix="dep__point" key="es-meal" city="vm.flight.origincity"  cityname="vm.flight.origincityName" port="vm.flight.originport"  portname="vm.flight.originportName"></geo-marker>
                –
                <geo-marker prefix="arr__point" key="es-meal" city="vm.flight.destinationcity"  cityname="vm.flight.destinationcityName" port="vm.flight.destinationport"  portname="vm.flight.destinationportName"></geo-marker>
            </p>
            <a href ng-click="vm.close()" class="closePopup closePopup_js"></a>
        </div>
    </div>
    <div class="foodSlider">
        <div class="foodSlider__i slick-initialized slick-slider">

            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" role="listbox">

                    <div class="item slick-slide slick-current slick-active">
                        <div class="itemSwiper">
                            <span class="itemSwiper-prev">
                                {{ 'web.extraServices.meal.itemSwiper.prev' | aliasStatic }}
                            </span>
                            <ol>
                                <li class="prevPass"></li>
                                <li class="active"></li>
                                <li class="nextPass"></li>
                                <li></li>
                                <li></li>
                            </ol>
                            <span class="itemSwiper-next">
                                {{ 'web.extraServices.meal.itemSwiper.next' | aliasStatic }}
                            </span>
                        </div>
                        <div class="itemTitle">
                            <div class="itemTitle__i">
                                <p>
                                    {{ vm.passenger.lastName }} {{ vm.passenger.firstName }}
                                </p>
                            </div>
                        </div>
                        <div class="itemOrderInfo">
                            <span>Каша овсяная на молоке (250 г.)</span>
                            <span>200 <span class="currency_sign">₽</span></span>
                            <a href class="btn-remove">
                                <span class="infoBoxWrap">
                                    <i class="icon_remove"></i>
                                    <span class="infoBox">
                                        <span class="infoBox__i">
                                            {{ 'web.extraServices.meal.cancelByPassengerSegment' | aliasStatic }}
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>

                        <div ng-show=" vm.subgroups.length > 1 " class="foodSortSelect_wrap">
                            <ui-select ng-change="vm.mealMenuSubgroupMobileChange()"
                                       ng-model="vm.mealMenuSubgroupMobile"
                                       theme="selectize"
                                       search-enabled="false"
                                       required>
                                <ui-select-match placeholder="{{$select.selected.value ? ('web.meal.subgroup.' | aliasWithPrefix:$select.selected.value) : ( 'web.meal.subgroup.all' | aliasStatic)}}">
                                    {{$select.selected.value ? ('web.meal.subgroup.' | aliasWithPrefix:$select.selected.value) : ( 'web.meal.subgroup.all' | aliasStatic)}}
                                </ui-select-match>
                                <ui-select-choices repeat="subgroupCode.index as subgroupCode in vm.subgroupItems track by $index">
                                    <div>{{ 'web.meal.subgroup.' | aliasWithPrefix:subgroupCode.value }}</div>
                                </ui-select-choices>
                            </ui-select>
    					</div>

                        <div class="list">
                            <div class="list__i isotopeGrid">

                                <wrap ng-repeat="(subgroupNum, subgroup) in vm.mealMenu">
                                    <div ng-repeat="mealItem in subgroup"
                                        ng-if=" vm.mealMenuSubgroup === subgroupNum || vm.mealMenuSubgroup === false "
                                        ng-class="{ active: mealItem.active }"
                                        class="item">
                                        <a href ng-click=" vm.setPassengerFlightMeal(subgroupNum, mealItem);">
                                            <div class="img">
                                                <img ng-src="{{vm.mealImagesPath}}/{{ mealItem.serviceType }}-{{ mealItem.rfisc }}.jpg" alt=""/>
                                            </div>
                                            <div class="name">
                                                <p>{{ mealItem.title }}</p>
                                                <p class="price" ng-bind-html="{ value: mealItem.price, currency: mealItem.currency } | price"></p>
                                            </div>
                                        </a>

                                    </div>

                                </wrap>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
