<div class="popup popup_selectFood" id="popupMeal" style="display: none;">

  <!-- title -->
  <div class="title">
    <div class="title__i">
      <p>
        <geo-marker prefix="dep__point" key="es-meal" city="vm.flight.origincity" cityname="vm.flight.origincityName" port="vm.flight.originport" portname="vm.flight.originportName"></geo-marker>
        –
        <geo-marker prefix="arr__point" key="es-meal" city="vm.flight.destinationcity" cityname="vm.flight.destinationcityName" port="vm.flight.destinationport" portname="vm.flight.destinationportName"></geo-marker>
      </p>
      <a href ng-click="vm.close()" class="closePopup closePopup_js"></a>
    </div>
  </div>
  <!-- end title -->

  <div class="foodSlider">
    <div class="foodSlider__i slick-initialized slick-slider">

      <div aria-live="polite" class="slick-list draggable">
        <div class="slick-track" role="listbox">

          <div class="item slick-slide slick-current slick-active">
            <!-- itemSwiper -->
            <div class="itemSwiper" ng-if="vm.nextPassenger || vm.prevPassenger">

              <span class="itemSwiper-prev" ng-if="vm.prevPassenger" ng-click="vm.switchPrev()">
                  {{ 'web.extraServices.meal.itemSwiper.prev' | aliasStatic }}
              </span>

              <ol>

                <li ng-repeat="(num, pax) in vm.passengers" ng-class="{ prevPass:vm.currentPassengerIndex - 1 == num, active:vm.currentPassengerIndex == num, nextPass: vm.currentPassengerIndex + 1 == num}"></li>

              </ol>

              <span class="itemSwiper-next" ng-if="vm.nextPassenger" ng-click="vm.switchNext()">
                  {{ 'web.extraServices.meal.itemSwiper.next' | aliasStatic }}
              </span>

            </div>
            <!-- end itemSwiper -->
            <!-- itemTitle -->
            <div class="itemTitle">
              <div class="itemTitle__i">
                <p>
                  {{ vm.passenger.lastName }} {{ vm.passenger.firstName }}
                </p>
              </div>
            </div>
            <!-- end itemTitle -->
            <!-- itemOrderInfo -->
            <div class="itemOrderInfo">
              <div ng-repeat="(subgroupNum, subgroup) in vm.mealMenu">
                <div ng-repeat="mealItem in subgroup" ng-if="mealItem.active" class="itemOrderInfo-row">
                  <span>{{ mealItem.title }}</span>

                  <!-- <span ng-bind-html="{ value: mealItem.price, currency: mealItem.currency } | price"></span>
                  <a href class="btn-remove" ng-click="vm.clearPassengerFlightMeal()">
                    <span class="infoBoxWrap">
                      <i class="icon_remove"></i>
                      <span class="infoBox">
                        <span class="infoBox__i">
                          {{ 'web.extraServices.meal.cancelByPassengerSegment' | aliasStatic }}
                        </span>
                      </span>
                    </span>
                  </a> -->

                  <span class="itemOrderInfo-row__price">
                    <span ng-bind-html="{ value: mealItem.price, currency: mealItem.currency } | price"></span>
                    <a href class="btn-remove" ng-click="vm.clearPassengerFlightMeal()">
                      <span class="infoBoxWrap">
                        <i class="icon_remove"></i>
                        <span class="infoBox">
                          <span class="infoBox__i">
                            {{ 'web.extraServices.meal.cancelByPassengerSegment' | aliasStatic }}
                          </span>
                        </span>
                      </span>
                    </a>
                  </span>

                </div>
              </div>
            </div>
            <!-- end itemOrderInfo -->

            <!-- foodSortSelect_wrap -->
            <div ng-show=" vm.subgroups.length > 1 " class="foodSortSelect_wrap">
              <ui-select ng-change="vm.mealMenuSubgroupMobileChange()" ng-model="vm.mealMenuSubgroupMobile" theme="selectize" search-enabled="false" required>
                <ui-select-match placeholder="{{$select.selected.value ? ('web.meal.subgroup.' | aliasWithPrefix:$select.selected.value) : ( 'web.meal.subgroup.all' | aliasStatic)}}">
                  {{$select.selected.value ? ('web.meal.subgroup.' | aliasWithPrefix:$select.selected.value) : ( 'web.meal.subgroup.all' | aliasStatic)}}
                </ui-select-match>
                <ui-select-choices repeat="subgroupCode.index as subgroupCode in vm.subgroupItems track by $index">
                  <div>{{ 'web.meal.subgroup.' | aliasWithPrefix:subgroupCode.value }}</div>
                </ui-select-choices>
              </ui-select>
            </div>
            <!-- end foodSortSelect_wrap -->

            <!-- list -->
            <div class="list">

              <div class="list__i isotopeGrid">
                <wrap ng-repeat="(subgroupNum, subgroup) in vm.mealMenu">
                  <div ng-repeat="mealItem in subgroup" ng-if=" vm.mealMenuSubgroup === subgroupNum || vm.mealMenuSubgroup === false " ng-class="{ active: mealItem.active }" class="item">
                    <a href ng-click=" vm.setPassengerFlightMeal(subgroupNum, mealItem);">
                      <div class="img">
                        <img ng-src="{{vm.mealImagesPath}}/{{ mealItem.serviceType }}-{{ mealItem.rfisc }}.jpg" alt="" />
                      </div>
                      <div class="name">
                        <p>{{ mealItem.title }}</p>
                        <p class="price" ng-bind-html="{ value: mealItem.price, currency: mealItem.currency } | price"></p>
                      </div>
                    </a>
                  </div>
                </wrap>
              </div>

            </div>
            <!-- end list -->

          </div>

        </div>

      </div>

    </div>

  </div>
  <!-- foodSlider-footer -->
  <div class="foodSlider-footer">
    <div class="foodSlider-footer__text">
      {{ 'web.extraServices.meal.footerText' | aliasStatic}}
    </div>
    <div class="foodSlider-footer__button">
      <a href="" ng-click="vm.close()" class="btn">
        <span>OK</span>
      </a>
    </div>
  </div>
  <!-- end foodSlider-footer -->
</div>
